
_target_: definitions.FLAVAArguments
training:
  _target_: definitions.TrainingArguments
  lightning:
    max_steps: 450000
    gpus: -1
    progress_bar_refresh_rate: 50
    val_check_interval: 10000
    num_sanity_val_steps: 0
  seed: -1
  batch_size: 8
  num_workers: 1
  learning_rate: 2e-4
  adam_eps: 1e-8
  adam_weight_decay: 1e-2
  warmup_steps: 2000

datasets:
  _target_: definitions.TrainingDatasetsInfo
  selected:
  # - image
  - vl
  - text
  # image:
  #   _target_: definitions.TrainingSingleDatasetInfo
  #   train:
  #     - _target_: definitions.HFDatasetInfo
  #       key: aps/imagenet2012
  #       subset: default
  #       extra_kwargs:
  #         data_dir: ${oc.env:IMAGENET_TAR}
  text:
    _target_: definitions.TrainingSingleDatasetInfo
    train:
      - _target_: definitions.HFDatasetInfo
        key: wikitext
        subset: wikitext-103-raw-v1
  vl:
    _target_: definitions.TrainingSingleDatasetInfo
    train:
      - _target_: definitions.HFDatasetInfo
        key: red_caps
        subset: jellyfish
        rename_columns:
          - ["caption", "text"]
    val:
      - _target_: definitions.HFDatasetInfo
        key: red_caps
        subset: jellyfish
        rename_columns:
          - ["caption", "text"]
        split_key_mapping:
          validation: train
